/* Ordring convention : 
*   1. positioning
*   2. box-model
*   3. typography
*   4. visual
*   5. animation
*   6. miscellanous
*/
@import url("./utility.css");
/* ########## Header section ##########*/
.header{
    height: var(--header-height);
    width: 100%;
    min-width: var(--screen-min-width);
    border-bottom: var(--stroke);
    /* background-color: #54fd12; */
}
.nav-bar{
    width: var(--boxed-width);
    height: 100%;
    margin: 0px auto;
    /* background-color: rgb(67, 175, 189); */
}
/* ####################*/

/* ########## Nav structure ##########*/
.nav-left-side{
    height: 100%;
    float: left;
    display: inline;
    /* background-color: saddlebrown; */
}
.nav-right-side{
    height: 100%;
    float: right;
    /* background-color: blueviolet; */
}
/* ####################*/

/* ########## Nav left side ##########*/
.site-logo{
    width: 142px;
    height: 45px;
    vertical-align: middle;
}
.nav-menu{
    height: 100%;
    margin-left: 80px;
    line-height: var(--header-height);
    display: inline-block;
    vertical-align: middle;
    /* background-color: rgb(154, 156, 20); */
}
.nav-menu li{
    height: 100%;
    padding: 0px 18px;
    display: inline;
    font-size: 1.5em; /* 24px */
    /* background-color: red; */
}
.nav-menu li img {
    width: 12px;
    height: 12px;
}
/* ####################*/

/* ########## Nav right side ##########*/
.nav-register{
   margin-right: 48px;
   line-height: var(--header-height);
   font-size: 1em; /* 16px */
   border-bottom: var(--stroke);
}
.nav-right-icons{
    display: inline-block;
}
.nav-right-icons img{
    width: 20px;
    height: 20px;
}

.nav-right-icons li{
    padding: 0px 15px;
    display: inline-block;
}
.nav-right-icons li:last-child{
    margin-left: 25px;
}
/* ####################*/

/* ########## collections section ##########*/
.collections{
    height: 850px;
    min-width: var(--screen-min-width);
    border-bottom: var(--stroke);
    /* background-color: rgba(255, 250, 243, 1);  */
    background-color: rgba(255, 250, 0, 1);
    /* solution with flex */
    display: flex;
    justify-content: center;
}
.collections p{
    font-size: 5em;
    background-color: red;
    /* solution with flex */
    margin: auto;
}
/* ####################*/

